---
import { Link } from 'react-aria-components';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import { CheckoutPreview } from '../components/Checkout';

// TODO: implement server-side cart
const amountDue = 2000;
---
<Layout subtitle="Checkout">
	<Header client:load />
	<main class="container mb-8">
		<div class="mt-2 mx-6">
			<Link href="/">Back</Link>
		</div>
		<section class="my-4 mx-6">
			<h1 class="uppercase font-bold text-[28px] tracking-[1px] mb-8">Checkout</h1>
			<CheckoutPreview amountDue={amountDue} client:load />
		</section>
	</main>
	<Footer navLinks={[
		{ name: 'Home', url: '/' }, 
		{ name: 'Headphones', url: '/headphones' }, 
		{ name: 'Speakers', url: '/speakers' }, 
		{ name: 'Earphones', url: '/earphones' }
	]} />
</Layout>
