---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import { CheckoutPreview } from '../components/Checkout';
import { NavigationButton, NavigationMethod } from '../components/Button';
import { FLAT_SHIPPING_RATE } from '../lib/constants';
// TODO: implement server-side validation
const amountDue = 2000;
---
<Layout subtitle="Checkout">
	<Header client:load />
	<main class="mb-8">
		<div class="mt-2 mx-6">
			<NavigationButton method={NavigationMethod.Back} client:load>Back</NavigationButton>
		</div>
		<section class="my-4 mx-6">
			<h1 class="uppercase font-bold text-[28px] tracking-[1px] mb-8">Checkout</h1>
			<CheckoutPreview amountDue={amountDue} shippingCost={amountDue * FLAT_SHIPPING_RATE} client:load />
		</section>
	</main>
	<Footer navLinks={[
		{ name: 'Home', url: '/' }, 
		{ name: 'Headphones', url: '/headphones' }, 
		{ name: 'Speakers', url: '/speakers' }, 
		{ name: 'Earphones', url: '/earphones' }
	]} />
</Layout>
