---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import { ProductCard } from '../components/Card';
import { NavigationMenu } from '../components/Menu';
---

<Layout subtitle="Earphones">
	<Header navLinks={[
		{ name: 'Home', url: '/' }, 
		{ name: 'Headphones', url: '/headphones' }, 
		{ name: 'Speakers', url: '/speakers' }, 
		{ name: 'Earphones', url: '/earphones' }
	]} client:load />
	<main class="mb-8">
		<section class="text-white bg-black py-8 mb-4">
			<div class="flex flex-col justify-center items-center text-center pt-16 md:pt-20 px-6">
  				<h1 class="font-bold uppercase text-[36px] leading-[40px] tracking-[1.29px] my-4 md:my-8">Earphones</h1>
			</div>
		</section>
		<section class="my-12 mx-8">
			<ProductCard
				isPreview={true} 
				name="YX1 wireless earphones"
				description="Tailor your listening experience with bespoke dynamic drivers from the new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even in noisy environments with its active noise cancellation feature."
				productId="yx1-earphones"
				category="earphones" 
				client:visible 
			/>
		</section>
		<section class="my-24 mx-8">
			<NavigationMenu categories={['headphones', 'speakers', 'earphones']} client:visible />
		</section>
	</main>
	<Footer navLinks={[
		{ name: 'Home', url: '/' }, 
		{ name: 'Headphones', url: '/headphones' }, 
		{ name: 'Speakers', url: '/speakers' }, 
		{ name: 'Earphones', url: '/earphones' }
	]} />
</Layout>
