---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import { ProductCard } from '../components/Card';
import { NavigationMenu } from '../components/Menu';
---

<Layout subtitle="Speakers">
	<Header client:load />
	<main class="container mb-8">
		<section class="text-white bg-black py-8 mb-4">
			<div class="flex flex-col justify-center items-center text-center px-6">
  				<h1 class="font-bold uppercase text-[36px] leading-[40px] tracking-[1.29px] mt-[8px] mb-[12px]">Speakers</h1>
			</div>
		</section>
		<section class="my-12 mx-6">
			<ProductCard
				isPreview={true}
				name="ZX9 speaker"
				description="Upgrade your sound system with the all new ZX9 active speaker. It’s a bookshelf speaker system that offers truly wireless connectivity -- creating new possibilities for more pleasing and practical audio setups."
				productId="zx9-speaker"
				category="speakers" 
				client:visible 
			/>
		</section>
		<section class="my-12 mx-6">
			<ProductCard
				isPreview={true}
				name="ZX7 speaker"
				description="Stream high quality sound wirelessly with minimal loss. The ZX7 bookshelf speaker uses high-end audiophile components that represents the top of the line powered speakers for home or studio use."
				productId="zx7-speaker"
				category="speakers" 
				client:visible 
			/>
		</section>
		<section class="my-20">
			<NavigationMenu categories={['headphones', 'speakers', 'earphones']} client:visible />
		</section>
	</main>
	<Footer navLinks={[
		{ name: 'Home', url: '/' }, 
		{ name: 'Headphones', url: '/headphones' }, 
		{ name: 'Speakers', url: '/speakers' }, 
		{ name: 'Earphones', url: '/earphones' }
	]} />
</Layout>
